<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Reservas</title>
    <link rel="stylesheet" href="/src/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Reservas Registradas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Turma</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <a href="Reserva.html" class="button button-block">Reservar</a>
        <a href="index.html" class="button button-block">Inicio</a>
    </div>
</body>
</html>
